<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Rock+Salt" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="assets/javascript/burgers.js"></script>
    <title>Burgerlor</title>
</head>

<body>
    {{{body}}}
</body>

</html>